@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary: #3498db;
    --background: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: var(--background);
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
    margin: 5px;
    text-transform: uppercase;
}

.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide 0.2s ease-out;
}

.settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.settings.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show 0.2s ease-out;
}

.numbers {
    color: var(--primary);
    font-size: 50px;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 50px;
}

.numbers span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    transform-origin: bottom center;
}

.numbers span.pop-in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: pop-in 0.5s ease-in-out;
}

.numbers span.pop-out {
    animation: pop-out 0.5s ease-in-out;
}


@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
    
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    30% {
        transform: translate(-50%, -50%) scale(1.4);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
    
}

@keyframes pop-in {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);

    }
    30% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }   
}

@keyframes pop-out {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);

    }
    60% {
        transform: translate(-50%, -50%) rotate(20deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-120deg);
    }   
}
